wandb/
pycache/
logicalfallacies
GPTprompt.ipynb
output_fallacies.py
runs/
outputs/
cache_dir/
.env
src/env.py
.env.py
src/DPO/env.py
.ipynb_checkpoints/
flan_t5_base_model/
.cache/
models/fallacy_clf 
results/
EVAL/AMT/